*{
    font-family: 'Verdana';
}

body{
    background-color: saddlebrown;
    color:white;
    margin:15px;
}

p
{
    text-align: justify;
    line-height: 2.5em;
}

h1
{
    text-align: center;
}


.importante::first-letter
{
    font-size: 2em;
}

#home
{
    text-align: center;
}

div#zonadenavegacion
{
    margin-left: auto;
    margin-right: auto;
    width:345px;
    text-transform: uppercase;
    margin-bottom: 2cm;
}


#zonadenavegacion a{
    float:left;

    text-decoration: none;/*quitamos subrayado*/
    
    border:cornflowerblue solid;
    padding: 3px;
    background-color:aliceblue;
    border-radius: 5px;
    margin-right: 10px;
}

#footer {
    clear:both;
    font-size: 0.75em;
    font-style: italic;
}