body{
    font-family: candara, sans-serif;
    margin:auto;
    width: 60%;
    border: 1px solid brown;
    padding: 0 15px 15px;
}

strong{
    color:blue;
    font-size: 1.25em;
}

p.etimología{
    background-color: gainsboro;
    color: green;
}

abbr{
    color: cornflowerblue
}

a{
    text-decoration: none;
    color:blue;
    font-weight: bold;
}

.subrayado{
    text-decoration: underline;
}

.rojo{
    font-weight: bold;
    color: red;
}
